################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/PrihApi/v15

/.vs/PrihApi/v16/Server/sqlite3
/.vs/PrihApi/v16
