################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/PrihApi/v15
/PrihApi/obj/Debug/netcoreapp2.0
